+b.welcome
    +e.A(href="https://github.com/abaddonGIT").logo
        figure(data-aos="fade-up")
            +b(href="./images/logo.png").js-fancy
                +e.IMG.img(src='./images/logo.png', alt="").wool.fadeInLeft
            figcaption
                | Тут мог быть ваш сайт
