extends blocks/layouts/default

block head
    - var pageTitle = 'Home page application';
    - var pageDesc = 'Home page description';
    - var pageWords = 'First page';
block header
    include blocks/header/index
block content
    +b.MAIN.main.has-anim
    include blocks/welcome/index
block footer
    include blocks/footer/index